*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('img/imgF.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(8px); /* Aplica el desenfoque */
    z-index: -1; /* Coloca el fondo detrás del contenido */
}

/*Contendor principal*/
.container-player {
    width: 18rem;
    height: 30rem;
    border-radius: 10px;
    background-color: #648dfc;
    box-shadow: 4px 4px 5px #6e39ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

/*Contenedores hijos del contendor principal*/
.container-player > h1  {
    font-size: 2rem;
    color: #020363d8;
    text-shadow: 2px 2px 5px rgb(200, 188, 253);
}

.container-album {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-album > img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem 0 1rem 0;
}

/*Controles*/
.container-player > .controls {
    width: 100%;
    height: 48%;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.controls > audio {
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
}

.player_controls {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}

.player__artist{
    color: white;
}

.player_controls > i:hover {
    color: rgb(200, 188, 253);
}